@{
    ViewData["Title"] = "Wisdom";
}

<div class="quack">
    <div>
        <h1>wisdom duck</h1>
        <p>click or tap the duck to dispense wisdom</p>
    </div>
    <a onclick="dispense(event)" href="~/wisdom">
        <img id="duck" class="animated" src="~/img/Duck.svg" alt="Click to generate more wisdom." />
    </a>

    <p id="wisdom" class="visible">"@ViewData["wisdom"]"</p>
</div>