@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br /><br />
    <h1>wisdom duck</h1>
    <p>The duck is moving. Click the duck to go to the new home! <a href="~/moving">Find out more info here.</a></p>
    <br />
    <a href="https://wisdomduck.sdbagel.com/">
        <img id="duck" class="animated" src="~/img/Duck.svg" alt="Click to generate more wisdom." />
    </a>

    <h1 id="wisdom" class="visible">"📦 Duck is moving"</h1>
</div>