@{
    ViewData["Title"] = "Home Page";
}

<br />
<h1 class="text-center">wisdom duck</h1>
<br />
<br />
<a href="~/wisdom"><img src="~/img/Duck.svg" /></a>

<h1 class="text-center">"@ViewData["wisdom"]"</h1>