@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br /><br />
    <h1>wisdom duck</h1>
    <p><a href="https://bing.com/covid">duck helps quackantime time. click for covid info.</a></p>
    <br />
    <br />
    <a onclick="dispense(event)" href="~/wisdom">
        <img id="duck" class="animated" src="~/img/Duck.svg" alt="Click to generate more wisdom." />
    </a>

    <h1 id="wisdom" class="visible">"@ViewData["wisdom"]"</h1>
</div>