@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br />
    <h1>wisdom duck</h1>
    <br />
    <br />
    <a href="~/wisdom"><img src="~/img/Duck.svg" alt="Click to generate more wisdom." /></a>

    <h1>"@ViewData["wisdom"]"</h1>
</div>