@{
    ViewData["Title"] = "Moving!";
}

<br />
<h1>@ViewData["Title"]</h1>

<p><b>The duck is moving!</b></p>
<br />
<h2>What does this mean?</h2>
<p>The duck will dispense wisdom faster than ever before, and new features will be present in the duck's new home. All you have to do is change your bookmarks to <a href="https://wisdomduck.sdbagel.com">https://wisdomduck.sdbagel.com</a>. On July 10th, 2020, this page will redirect when the duck is clicked. On July 18th, the duck will finish moving and this page automatically redirect. This page may not exist after July 31st.</p>
<br />
<h2>I'm a developer using the wisdom API - what do I have to do?</h2>
<p>Get excited for better API performance from the duck! All the endpoints are the exact same, just change your base URL to the new URL at <a href="https://wisdomduck.sdbagel.com/api/wisdom/dispense">https://wisdomduck.sdbagel.com/api/wisdom/dispense</a>. The API here will only return a deprecation message from now to July 31st, where it will be removed.</p>
