@{
    ViewData["Title"] = "Moving!";
}

<br />
<h1>@ViewData["Title"]</h1>

<p><b>The duck is moving!</b></p>
<br />
<h2>What does this mean?</h2>
<p>The duck will now be at a different URL. The duck will dispense wisdom faster than ever before, and new features will be present in the duck's new home. Essentially, all you have to do is change your bookmarks to <a href="https://wisdomduck.sdbagel.com">https://wisdomduck.sdbagel.com</a>. On July 10th, 2020, this page will automatically redirect to the duck's new home. On July 31st, the duck will finish moving and this page will no longer be accessible.</p>
<p>In the meantime, while the "Duck is moving" message will be displayed on this site, it will continue to function as normal during the first few days of the move.</p>
<br />
<h2>I'm a developer using the wisdom API - what do I have to do?</h2>
<p>Get excited for better API performance from the duck! All the endpoints are the exact same, just change your base URL to the new URL. In 14 days, the endpoints here will no longer be available.</p>
