@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h1>@ViewData["Title"]</h1>

<p>We remind you that the duck will never threaten to stab you and, in fact, cannot speak.</p>
<p>This project uses <a href="https://twemoji.twitter.com">the twemoji duck</a>.</p>
