@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h1>@ViewData["Title"]</h1>

<p>We remind you that the duck will never threaten to stab you and, in fact, cannot speak.</p>
<p>However, the duck increments a counter every time you visit this site. We're just curious how many people like wisdom. No tracking technology is used on this site - you can verify it because it's open source! <a href="https://github.com/SDBagel/WisdomDuck">Absorb the open source wisdom here.</a></p>
<p>This project uses <a href="https://twemoji.twitter.com">the twemoji duck</a>.</p>
<br />
<p>Did you know wisdom duck has an API? It's this really cool thing that allows you to integrate wisdom into any of the applications you make. Simply call <a href="/api/wisdom/dispense">/api/wisdom/dispense</a> to get a plaintext string with your wisdom. It couldn't be simpler!</p>
