@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br /><br />
    <h1>wisdom duck</h1>
    <p>duck helps quarantime time. <a href="https://bing.com/covid">covid-19 info here</a></p>
    <br />
    <br />
    <a href="~/"><img src="~/img/Wisdom.png" alt="Click to generate more wisdom." /></a>

    <h1>"@ViewData["wisdom"]"</h1>
</div>