@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br />
    <h1>wisdom duck</h1>
    <br />
    <br />
    <a href="~/"><img src="~/img/Wisdom.png" /></a>

    <h1>"@ViewData["wisdom"]"</h1>
</div>
