@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br /><br />
    <h1>wisdom duck</h1>
    <p>The duck is moving to <a href="https://wisdomduck.sdbagel.com">https://wisdomduck.sdbagel.com</a>. Check out the duck's new home!</p>
    <br />
    <a onclick="dispense(event)" href="~/">
        <img id="duck" class="animated" src="~/img/Wisdom.png" alt="Click to generate more wisdom." />
    </a>

    <h1 id="wisdom" class="visible">"Duck is moving"</h1>
</div>