@{
    ViewData["Title"] = "Wisdom";
}

<div class="center">
    <br /><br />
    <h1>wisdom duck</h1>
    <p>welcome to the duck's new home.</p>
    <br />
    <br />
    <a onclick="dispense(event)" href="~/">
        <img id="duck" class="animated" src="~/img/Wisdom.png" alt="Click to generate more wisdom." />
    </a>

    <h1 id="wisdom">"@ViewData["wisdom"]"</h1>
</div>