<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>wisdom duck</title>
    <meta name="description" content="A duck that dispenses the finest wisdom. Unlimited wisdom, unlimited duck, unlimited power. Over 9000 wisdoms!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="wisdom duck">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A duck that dispenses the finest wisdom. What more can you ask for?">
    <meta property="og:image" content="https://wisdomduck.sdbagel.com/img/og_duck.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/flexcore.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body class="container flex-column">
    <main class="flex flex-column">
        @RenderBody()
    </main>

    <footer>
        <span>&copy; 2020 wisdomduck - </span>
        <a class="link" href="/home/privacy">Privacy</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
