.brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.center {
    text-align: center;
}

img {
    display: block;
    width: 600px;
    height: 600px;
    margin: auto;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 768px) {
    img {
        width: 300px;
        height: 300px;
    }
}