h1 {
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #555;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #000;
}

.center {
    text-align: center;
}

img {
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
}

.animated {
    animation: 0.2s size-bounce cubic-bezier(0.39, 0.575, 0.565, 1) alternate;
    animation-iteration-count: 2;
}

.flip-animated {
    animation: 0.2s flip-size-bounce cubic-bezier(0.39, 0.575, 0.565, 1) alternate;
    animation-iteration-count: 2;
}

#wisdom {
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transition-duration: 0.2s;
}

.visible {
    opacity: 1 !important;
}

@keyframes size-bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes flip-size-bounce {
    0% {
        transform: scaleX(-1) scale(1);
    }

    100% {
        transform: scaleX(-1) scale(1.05);
    }
}

@media screen and (min-width: 768px) {
    img {
        width: 600px;
        height: 600px;
    }
}