a {
    color: #777;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #000;
}

.center {
    text-align: center;
}

img {
    display: block;
    width: 600px;
    height: 600px;
    margin: auto;
    animation: 0.5s size-bounce cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes size-bounce {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(0.95);
    }
    65% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 768px) {
    img {
        width: 300px;
        height: 300px;
    }
}